<a href="https://colab.research.google.com/github/alirezashirmarz/DataScienceTraining/blob/main/DataMining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **(1) Import DataMining Required Packages**

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

# **(2) Read Dataset From Github Directly**

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/reisanar/datasets/master/WestRoxbury.csv')
df.head(10)

# **(3) Check the dataset shape [row and column]**

In [ ]:
df.shape
print('The number of rows is',df.shape[0],sep='=' ,end='\t')
print('The number of columns is',df.shape[1],sep='=')

# **(4) Rename the columns names**

In [ ]:
df=df.rename(columns={"TOTAL VALUE":"Total_Value"})  # Change a column title--> It had bug!
df.columns=[s.strip().replace(' ','_') for s in df.columns] # change all columns title in df
df.columns

# **(5) How to Slice the dataset**

In [ ]:
print(df.loc[0:4]) # gives the rows from 0 to 4 (inclusive)(5 rows)
print(df.iloc[0:4]) # gives the rows from 0 to 3 (minus 4)(4 rows)

# **5-1) Slice the dataset with rows and columns [name and index]**

In [ ]:
# Three ways to show a specific column and a slice of rows
#df['TOTAL_VALUE'].iloc[0:4]
#df.iloc[0:3]['TOTAL_VALUE']
#df.iloc[0:3].TOTAL_VALUE
#df['TOTAL_VALUE'][0:10]

#**5-2)How to slice and concatinate the dataframes**

In [ ]:
# Slicing the DataFrame 
#df.iloc[0][0:14] # Column 0 presents by columns 0 - 14
#df.iloc[0:10][0:8]  #df.iloc[rowi:rowsj][rowsn,rowsm] selcet rows 1 to j and select n to m from that interval
#df.iloc[12:14,0:1].shape # df.iloc[Rowi:Rowj,coli:colj]

#pd.concat([df.iloc[0:2,0:2],df.iloc[0:2,4:8]],axis=1) # COncatinate the columns 0-2 and 4-8  of the rows 0-2

#df.iloc[:,0:2]

#df.TOTAL_VALUE

print('Number of rows is:',len(df))
print('The average of total value is:',df['TOTAL_VALUE'].mean())
df.describe()

# **(6) Sampling among the rows!**

In [ ]:
# Random sample of 5 observation
#df.sample(5,weights=None) 


# Oversample houses with over 10 rooms

weight=[0.95 if rooms>10 else 0.05 for rooms in df.ROOMS]
#print(len(weight))
df.sample(10,weights=weight)
#print([df.ROOMS.mean])

In [ ]:
s=""
help(s.strip())
#help(df.rename)